@{
    ViewData["Title"] = "Opis Testu";
}

<h1>Pełny opis testu</h1>
<p>Test jest zaprojektowany, aby sprawdzać umiejętności logicznego myślenia w różnych obszarach. Zawiera pytania związane z analizą danych, rozwiązywaniem problemów matematycznych i bardziej zaawansowanymi zagadnieniami analitycznymi.Test jest bardzo podobny do egzaminu na test masz 30 min test posiada 20 pytań powodzenia</p>
