@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Strona powstała aby pomagać w przygotwaniu do egzaminu z logiki i toerii mnogości jęsli doceniacie moją prace możecie dać gwiazdeczki na githubie: https://github.com/Nusioos</p>
